@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
.App {
  font-family: 'IBM Plex Sans', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
form {
  margin: 10px;
  padding: 10px;
  font-size: 27px;
  color: rgb(48 13 56);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(48 13 56);
  font-size: 36px;
}
p {
  padding: 0;
  margin: 0;
}
.image {
  justify-content: flex-start;
  margin-left: 10px;
  width: 17vw;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}
input,
select {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 27px;
}
select {
  cursor: pointer;
}
button {
  color: rgb(48 13 56);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 22px;
  border-radius: 9px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(48 13 56);
  color: rgb(245 169 65);
}
